*.swp
*.nfs
CMakeFiles
*Makefile*
tags
build*/
obj
.DS_Store
*.log
*~
*~.skp
bin/*.exe
bin/*.txt
bin/mac
*pro.user*
qrc_*.cpp
*.Debug
*.Release
tmp
debug
release
qgroundcontrol
mavlinkgen-build-desktop
qgroundcontrol.xcodeproj/**
doc/html
doc/doxy.log
deploy/mac
deploy/linux
deploy/qgroundcontrol*
controller_log*
user_config.pri
*.app
*.ncb
*.vcproj
*.vcxproj*
*.sdf
*.ipch
*.pdb
*.sln
*.sln
*.vcproj
*.user
*.ncb
*.idb
*.project
*.cproject
*.sln
*.suo
*.uhf.txt
*.opensdf
*.qmlc
apmplanner2.xcodeproj/
GeneratedFiles/
deploy/*.exe
deploy/*.list
*.exe
deploy/*.dll
.qmake.cache
.qmake.stash
libs/lib/Frameworks/GStreamer.framework/
config.tests/has_flite/*
!config.tests/has_flite/has_flite.pro
!config.tests/has_flite/main.cpp
