Source: apmplanner2
Section: science
Priority: extra
Maintainer: APM Planner Developers <stephen_dade@hotmail.com>
Vcs-Git: git://git.github.org/diydrones/apm_planner.git
Build-Depends: git-buildpackage, debhelper, cmake, ninja-build, build-essential,
 qt6-base-dev, qt6-base-dev-tools, qt6-declarative-dev, qt6-serialport-dev,
 qt6-svg-dev, qt6-multimedia-dev, qt6-5compat-dev, qt6-datavis3d-dev,
 libgl1-mesa-dev, libsdl2-dev, libflite1, flite1-dev, libssl-dev, libudev-dev,
 libc6, git, libsndfile1-dev, python3-serial, python3-pexpect
Homepage: https://github.com/diydrones/apm_planner
Standards-Version: 3.9.4

Package: apmplanner2
Architecture: any
Depends: ${shlibs:Depends}, qtdeclarative5-qtquick2-plugin | qml-module-qtquick2
Description: Ground station software for autonomous vehicles.
 A GUI ground control station for autonomous vehicles 
 using the MAVLink protocol.
 Includes support for the APM and PX4 based controllers.
 If installing for the first time use "sudo dpkg -i ${finalfilename}", then
 "sudo apt-get install -f" and "sudo dpkg -i ${finalfilename}".
 If upgrading use "sudo dpkg -i ${finalfilename}".
 If uninstalling use "sudo dpkg -r apmplanner2".

